.App {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.search-form {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    .search-button {
        background-color: rgb(220, 20, 143);
    }
}